   TELEGRAM_BOT_TOKEN=8901225398:AAHnlNtoNMYfFyJEuqqrK3S5F6Zdd6HYix4
   RPC_HTTP=https://api.mainnet-beta.solana.com
   RPC_WSS=wss://api.mainnet-beta.solana.com
   SEED_PHRASE=meadow siege mango price arm ring boring symptom ugly range wink advice supply alarm mail room come under oval appear mobile timber bubble hidden
